.grid {
    text-align: center;
    margin: 0 auto;
    display: flex;
    max-width: 606px;
    max-height: 606px;
    flex-wrap: wrap;
}

.square {
    max-width: 200px;
    height: 200px;
}

.mole {

    background-image: url('images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}